{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block header %}
    <div class="container-fluid section-container header-container">
        <div class="row title-row align-items-center cart-title">
            <div class="col-12 title-col">
                <h1 class="page-title">{{ post.title }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid blog-container">
        <div class="row blog-row justify-content-around">
            <div class="col-12 col-md-8">
                <div class="card home-card">
                    <div class="row justify-content-around">
                        {% if post.image %}
                            <div class="col-10 col-lg-8 text-center">
                                <div class="blog-image rounded-top rounded-bottom"
                                     style="background-image: url('{{ MEDIA_URL }}{{ post.image }}')">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-10 col-lg-8">
                            <p>{{ post.content }}</p>
                            <h4><span class="boldtext">Published on:</span> {{ post.published_date }} </h4>
                            <h4><span class="boldtext">Views:</span> {{ post.views }}</h4>
                            <h4><a href="{% url 'get_posts' %}" class="btn btn-sm btn-vt">Back to Blog</a></h4>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-10 col-lg-8">
                            <h4>Total comments: {{ comments.count }}</h4>
                            {% for comment in comments %}
                                <div class="comments">
                                    <p class="font-weight-bold orange">
                                        {{ comment.name }} -
                                        <span class="font-weight-normal">
                                {{ comment.created_on }}
                            </span>
                                    </p>
                                    {{ comment.body| linebreaks }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="row justify-content-around">
                        <div class="col-10 col-lg-8">
                            <div class="card-body">
                                {% if new_comment %}
                                    <div class="alert" role="alert">
                                        <p>your comment has been submitted</p>
                                    </div>
                                {% else %}
                                    <h3> Leave a comment</h3>
                                    <form method="post" style="margin-top: 1.3em;">
                                        {{ comment_form | as_bootstrap }}
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-vt btn-sm">Submit comment</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="row justify-content-around">
                            <div class="col-10 col-lg-8 text-center">
                                <h4> you must be logged in to leave a comment</h4>
                                <h4><a class="link" id="link"
                                       href="{% url 'login' %}">Log
                                    In</a></h4></h4>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}