{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block header %}
    <div class="container-fluid section-container header-container">
        <div class="row title-row align-items-center cart-title">
            <div class="col-12 title-col">
                <h1 class="page-title">{{ post.title }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid blog-container">
        <div class="row blog-row justify-content-around">
            <div class="col-8 col-xs-3 card home-card">
                {% if post.image %}
                    <img class="img-blogpost rounded-circle product" src="/media/{{ post.image }}"
                         alt="{{ post.title }}">
                {% endif %}
                <h2>{{ post.content }}</h2>
                <h3><span class="boldtext">Published on:</span> {{ post.published_date }} </h3>
                <h3><span class="boldtext">Views:</span> {{ post.views }}</h3>
                <h4><a href="{% url 'get_posts' %}" class="btn btn-lg btn-vt">Back to Blog</a></h4>
                <hr class="rounded">
                <h2>Total comments: {{ comments.count }}</h2>
                {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class="font-weight-normal">
                                {{ comment.created_on }}
                            </span>
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                {% endfor %}
                <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            <p>your comment is awaiting moderation<</p>
                        </div>
                    {% else %}
                        <h3> Leave a comment</h3>
                        <form method="post" style="margin-top: 1.3em;">
                            {{ comment_form | as_bootstrap }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-vt btn-lg">Submit comment</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}