{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block header %}
    <div class="container-fluid section-container header-container">
        <div class="row title-row align-items-center cart-title">
            <div class="col-12 title-col">
                <h1 class="page-title">About us <i class="fas fa-info-circle logo"></i></h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid about-title-container middle-container">
        <div class="row info-row justify-content-around">
            <div class="col-xs-12 col-md-10  col-xl-8 text-center">
                <h1 class="about-text">
                    Voice Technologies is an award-winning, employee-owned software provider based in Paisley (near
                    Glasgow)
                    and Sheffield in the UK. We help organisations to reduce the time and cost of producing
                    correspondence
                    by using information and mobile workflow, speech recognition and digital dictation
                    applications.</h1>
                <hr class="rounded">

                <h2 class="about-text">Customer-focus is at the heart of everything we do. We are a trusted partner to
                    our clients in the
                    public and private sectors, working closely with them to understand the issues they face and
                    creating
                    efficient ways of working that make a positive contribution to their financial and organisational
                    efficiency.</h2>
                <hr class="rounded">

                <h3 class="about-text"> Our team of in-house specialists develops innovative software including the
                    award-winning
                    WinVoicePro, a
                    document creation and workflow management application, and FormStream, web-based e-forms for
                    paperless
                    documentation.</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid staff-container">
        <div class="intro-row">
            <div class="col-12 text-center">
                <h1>Meet Our Staff:</h1>
            </div>
        </div>
        <div class="row">
            {% for staff_member in staff_members %}
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
                    <div class="card mb-3 home-card staff-card">
                        <div class="row staff-title-row">
                            <div class="col-12 text-center">
                                <div class="card-body">
                                    <img class="product rounded-circle" src="{{ staff_member.image.url }}"
                                         alt="{{ staff_member.name }}">
                                    <h2 class="card-title">{{ staff_member.name }}</h2>
                                    <h3 class="card-subtitle">{{ staff_member.title }}</h3>
                                    <hr class="rounded">
                                </div>
                            </div>
                        </div>
                        <div class="row description-row">
                            <div class="col-12 text-center">
                                <div class="card-body">
                                    <p class="card-text">{{ staff_member.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

