{% extends 'base.html' %}
{% load static %}
{%  load bootstrap_tags %}

{% block header %}
    <h1>About us</h1>
{% endblock %}
{% block content %}
<div class="row row-flex">
        {% for staff_member in staff_members %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                <div class="panel-body">
                    <div class="product">
                        <img class="product" src="{{staff_member.image.url}}" alt="{{ staff_member.name }}">
                    </div>
                    <h3>{{ staff_member.name }}</h3>
                    <p>{{ staff_member.title}}</p>
                    <p class="product-description">{{ staff_member.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}