{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block header %}
    <div class="container-fluid section-container img-container">
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid title-container">
        <div class="row main-title-row">
            <div class="col-12 text-center">
                <h1>Reducing the time and costs of producing correspondence.</h1>
                <h2>information and mobile workflow,speech recognition and digital dictation applications</h2>
            </div>
        </div>
    </div>
{% endblock %}


{% block lower %}
    <h1>testing the lower container works</h1>
{% endblock %}