{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block header %}
    <div class="container-fluid img-container">
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid title-container">
        <div class="row main-title-row">
            <div class="col-12 text-center">
                <h1>Reducing the time and costs of producing correspondence.</h1>
                <h2>information and mobile workflow,speech recognition and digital dictation applications</h2>
            </div>
        </div>
    </div>
{% endblock %}


{% block lower %}
    <div class="row">
        <div class="col col-4">
            <div class="card mb-3 home-card">
                <h3 class="card-header">About us</h3>
                <div class="card-body">
                    <p class="card-text">Voice Technologies is an award-winning, employee-owned software provider based
                        in Paisley (near Glasgow) and Sheffield in the UK. We help organisations to reduce the time and
                        cost of producing correspondence by using information and mobile workflow, speech recognition
                        and digital dictation applications.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="col col-4">
            <div class="card mb-3 home-card">
                <h3 class="card-header">Products</h3>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">visit our products page</a>
                </div>
            </div>
        </div>
        <div class="col col-4">
            <div class="card mb-3 home-card">
                <h3 class="card-header">Blog</h3>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">see our latest posts</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}