{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block header %}
    <div class="container-fluid img-container">
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid title-container middle-container">
        <div class="row main-title-row">
            <div class="col-12 text-center">
                <h1>Reducing the time and costs of producing correspondence.</h1>
                <h2>Through information and mobile workflow,speech recognition and digital dictation applications.</h2>
            </div>
        </div>
    </div>
{% endblock %}


{% block lower %}
    <div class="container-fluid home-lower-container">
        <div class="row">
            <div class="col col-4 text-center">
                <div class="card mb-3 home-card">
                    <h1 class="card-header">
                        About us
                        <hr class="rounded">
                    </h1>
                    <div class="card-body">
                        <h3 class="card-text">Voice Technologies is an award-winning, employee-owned software provider.
                        </h3>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'staff' %}" class="card-link btn btn-lg btn-vt">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col col-4 text-center">
                <div class="card main-card home-card">
                    <h1 class="card-header">Products
                        <hr class="rounded">
                    </h1>
                    <div class="card-body">
                        <h3 class="card-text">Browse the range of products we provide for improving workflow and
                            speeding up processes.</h3>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'formstream' %}" class="card-link btn-lg btn btn-vt">FormStream</a>
                        <a href="{% url 'winvoicepro' %}" class="card-link btn-lg btn btn-vt">WinVoicePro</a>
                        <a href="{% url 'winvoiceweb' %}" class="card-link btn-lg btn btn-vt">WinVoiceWeb</a>
                    </div>
                </div>
            </div>
            <div class="col col-4 text-center">
                <div class="card mb-3 home-card">
                    <h1 class="card-header">
                        Blog
                        <hr class="rounded">
                    </h1>
                    <div class="card-body">
                        <h3 class="card-text">Read all about the latest news, case studies and product reviews from the
                            team at voice technologies.</h3>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'get_posts' %}" class="card-link btn btn-lg btn-vt">see our latest posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}