{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block header %}
    <div class="container-fluid img-container">
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid title-container middle-container">
        <div class="row main-title-row">
            <div class="col-12 text-center">
                <h1>Reducing the time and costs of producing correspondence.</h1>
                <h2>Through information and mobile workflow,speech recognition and digital dictation applications.</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid home-lower-container">
        <div class="row justify-content-around mb-3">
            <div class="col-10 col-md-4">
                <div class="card index-card home-card">
                    <h1 class="card-header text-center">
                        About us
                        <hr class="rounded">
                    </h1>
                    <div class="card-body">
                        <p class="card-text">Voice Technologies is an award-winning, employee-owned software provider.
                        </p>
                        <p><a href="{% url 'staff' %}" class=" btn btn-sm btn-vt card-link">Read more</a></p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card index-card home-card">
                    <h1 class="card-header text-center">Products
                        <hr class="rounded">
                    </h1>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p class="card-text">Our team of in-house specialists develops innovative software
                                    including
                                    the award-winning WinVoicePro.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-12">
                                <p>
                                    <a href="{% url 'formstream' %}" class="btn btn-sm  btn-vt card-link">Formstream</a>
                                </p>
                            </div>
                            <div class="col-12">
                                <p><a href="{% url 'winvoicepro' %}" class="btn btn-sm btn-vt card-link">WinVoicePro</a>
                                </p>
                            </div>
                            <div class="col-12">
                                <p><a href="{% url 'winvoiceweb' %}" class="btn btn-sm  btn-vt card-link">WinVoiceWeb</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-4">
                <div class="card index-card home-card">
                    <h1 class="card-header text-center">
                        Blog
                        <hr class="rounded">
                    </h1>
                    <div class="card-body">
                        <p class="card-text">Read all about the latest news, case studies and product reviews
                            from the
                            team at voice technologies.</p>
                        <a href="{% url 'get_posts' %}" class="btn btn-sm btn-vt card-link">See our latest
                            posts</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}