{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block header %}
    <div class="container-fluid section-container header-container">
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid contact-container">
        <div class="row">
            <div class="col-4 offset-1 contact-card card home-card text-center">
                <br>
                <h3>submit your contact request</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-warning" value="submit">Submit contact Request</button>
                </form>
                <br>
            </div>
            <div class="col-4 offset-2 contact-card card home-card text-center">

            </div>
        </div>
    </div>
{% endblock %}
