{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block head_mapbox %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet'/>
{% endblock %}
{% block header %}
    <div class="container-fluid section-container header-container">
        <div class="row title-row align-items-center cart-title">
            <div class="col-12 title-col">
                <h1 class="page-title">Contact us <i class="fas fa-envelope logo"></i></h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid contact-container">
        <div class="row">
            <div class="col-4 offset-1 card home-card">
                <br>
                <h3>submit your contact request</h3>
                <div class="form-group">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | as_bootstrap }}
                        <button type="submit" class="btn btn-warning" value="submit">Submit contact Request</button>
                    </form>
                </div>
                <br>
            </div>
            <div class="col-4 offset-2 text-center card home-card">
                <div class="rounded" id='map' style='width: available; height: 400px; margin-top: 20px;'></div>
                <script>
                    mapboxgl.accessToken = '{{ map_access_token }}';
                    const map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [-4.425278, 55.843350],
                        zoom: 15
                    });
                    const marker = new mapboxgl.Marker({color: '#562b5e'})
                        .setLngLat([-4.425278, 55.843350])
                        .addTo(map);
                </script>
                <br>
                <div class="address">
                    <h2>Voice technologies</h2>
                    <h3>10 shuttle street</h3>
                    <h3>Paisley</h3>
                    <h3>PA1 1YD</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
