body {
    font-family: Arial, serif;
    margin: 0;
}



.img-container{
    background-image: url("/media/images/VTheader.png");
    background-position: center,center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);
}

.header-container {
    background-position: center, center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 400px;
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);
}


.slantedDivB {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    color: #fff;

}

.slantedDivB:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: skewy(-8deg);
}


.section-container {

}



.middle-container {
    height: 800px;
    background-color: #5000ca;

}


footer {
    height: 400px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;


}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {

    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}