html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #562b5e;
    color: white;
    height: auto;
    overflow-x: hidden;

}

.container {
    margin-right: 0;
}


.navbar .navbar-nav .nav-link:hover {
    color: #ff8200;

}

.dropdown-menu {
    background-color: #562b5e;
}

.dropdown-item {
    color: white;
}


.btn-vt {
    background-color: #ff8200;
    color: white;
}

.orange {
    color: #ff8200;
}

#link {
    color: #ff8200;
}

#link:hover {
    color: white;
}

.about-card {
    height: 450px;
}

.card-link {
    padding-top: 0;
    margin: 0;
}

.img-container {
    background-image: url("/media/images/VTheader.png");
    background-position: center, center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);
}


.header-container {
    background-image: url("/media/images/header.png");
    background-position: center, center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 600px;
    clip-path: polygon(0 0, 100% 0, 100% 71%, 0% 100%);
    color: white;
}


.middle-container {
    color: #fff;
    background-color: #562b5e;
    padding-bottom: 20px;

}

.products-container {
    padding-top: 20px;
}

.cart-container {
    color: #fff;
    padding-top: 50px;
}

.staff-container {
    padding-top: 50px;
}

.checkout-container{
    margin-top: 20px;
   padding-bottom: 20px;
}

.payment-container{
    padding-top: 30px;
}
.description-row {
    padding-top: 0;
    margin-top: 0;
}

.staff-title-row {
    padding-bottom: 0;
    margin-bottom: 0;
}

.intro-row {
    padding-bottom: 30px;
}

.home-lower-container {
    padding-top: 30px;
}

.blog-container {
    padding-top: 40px;
    margin-bottom: 20px;

}

.store-img {
    background-color: white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 300px;
    height: 125px;
    margin: 0 auto;
}


.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;


}

.label-warning[href],
.badge-warning[href] {
    background-color: #ff8200;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-color: white;
    width: 150px;
    height: 150px;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.logo {
    font-size: 150px;
    color: #ff8200;
}

.page-title {
    font-size: 200px;
    color: #562b5e;
}

.title-col {
    padding-top: 50px;
}


.home-card {
    border-radius: 17px;
    background: linear-gradient(145deg, #4d2755, #5c2e65);
    box-shadow: 19px 19px 36px #412047,
    -19px -19px 36px #6c3676;
}

.staff-card {
    height: 600px;
}

.product-card {
    height: 600px;
}

.input-group {
    padding-bottom: 20px;
}

.add-body {
    padding-bottom: 20px;
}

input {
    color: white;
}

.contact-card {
    width: 600px;
}

.signin-card {
    height: 500px;
}


.social-container {
    width: 400px;
    margin: 40vh auto;
    text-align: center;
}

.prod-sub {
    color: #ff8200;
}

hr.rounded {
    width: 100px;
    height: 1px;
    background-color: #ff8200;
}

.winimage {
    height: 100px;
    width: 100px;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

.social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: #ff8200;
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #ff8200;
    background: #ff8200;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}

.social-icons a.social-square:before {
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
    border-radius: 10%;
}

.social-icons a.social-square:hover:before {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    border-radius: 100%;
}

.social-icons a.social-square:hover i {
    transform: scale(1.6);
    -ms-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    color: #fff;
    transform: scale(1.6);
    -webkit-text-fill-color: #fff;
}

footer {
    height: 200px;
    padding-top: 100px;
    color: #A9A9A9;
    background-color: #562b5e;
}


.form-control::placeholder {
    color: white;
}

.form-control {
    font-size: 20px;
}

.img-blogpost {
    margin-bottom: 20px;
}

.contact-row {
    margin-top: 30px;
}

.contact-title {
    margin-top: 10px;
}

.table-title {
    background-color: #ff8200;
}

th {
    font-size: 15px;
}

/*media queries*/
@media (min-width: 320px) {
    .header-container {
        height: 300px;
    }


    .page-title {
        font-size: 45px;
    }

    .logo {
        font-size: 40px;
    }

    .winimage {
        height: 50px;
        width: 50px;
    }

    .win-web-image {
        height: 80px;
        width: 300px;
    }

    .prod-sub {
        font-size: 15px;
    }

    .cart-product {
        width: 50px;
        height: 50px;
    }
}


@media (min-width: 768px) {
    .header-container {
        height: 400px;
    }

    .page-title {
        font-size: 100px;
    }

    .logo {
        font-size: 80px;
    }

    .winimage {
        height: 80px;
        width: 80px;
    }

    .win-web-image {
        height: 150px;
        width: 500px;
    }

    .prod-sub {
        font-size: 30px;
    }

    .description-row {
        font-size: 8px;
    }

    .cart-product {
        width: 150px;
        height: 150px;
    }

}

@media (min-width: 1000px) {
    .win-web-image {
        height: 150px;
        width: 700px;
    }

    .description-row {
        font-size: 12px;
    }

}
