{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block header %}
    <div class="container-fluid section-container header-container">
        <div class="row title-row align-items-center cart-title">
            <div class="col-12 title-col">
                <h1 class="page-title">Store <i class="fas fa-shopping-basket logo"></i></h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid products-container">
        <div class="row justify-content-around">
            {% for product in products %}
                <div class="col-10 col-xl-8 product-col">
                    <div class="card mb-3 home-card product-card">
                        <div class="row">
                            <div class="col-12 col-xl-4">
                                <div class="cart-image product rounded-circle"
                                     style="background-image: url('{{ MEDIA_URL }}{{ product.image}}')">
                                </div>
                            </div>

                            <div class="col-12 col-xl-4">
                                <div class="card-body">
                                    <p class="card-text">{{ product.description }}</p>
                                    <h4 class="card-text">£{{ product.price }} per user license</h4>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="card-body add-body">
                                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                                        {% csrf_token %}
                                        <h4>Select quantity:
                                            <input id="quantity" name="quantity" type="number" min="1" max="999"
                                                   value="1" class="form-control input-number text-white">
                                        </h4>

                                        <span class="input-group-btn">
                                       <button class="btn btn-vt btn-sm" type="submit">Add to cart</button>
                                    </span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}