{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block header %}
    <div class="container-fluid section-container header-container">
       <div class="row title-row align-items-center cart-title">
            <div class="col-12 title-col">
                <h1 class="page-title"><u>Store <i class="fas fa-shopping-basket logo"></i></u></h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid products-container">
        <div class="row row-flex">
            {% for product in products %}
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
                    <div class="card mb-3 home-card product-card">
                        <h3 class="card-header">{{ product.name }}</h3>
                        <div class="product-circle rounded-circle"
                             style="background-image: url('{{ MEDIA_URL }}{{product.image }}')">
                            </div>
                        <div class="card-body">
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">{{ product.price }} per user license</p>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                        <input name="quantity" type="number" min="1" max="999" class="form-control"
                                               value="1">
                                    <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add to cart</button>
                </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}