{% extends 'base.html' %}
{% load static %}
{% load bootstrap_tags %}

{% block header %}
    <div class="container-fluid section-container header-container">
        <div class="row title-row align-items-center cart-title">
            <div class="col-12 title-col">
                <h1 class="page-title"><img class="" src="/media/images/wvw_rgb.png" alt=""></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                <h2 class="prod-sub">Simple, fast, end-to-end document creation and distribution online for the NHS</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid title-container middle-container">
        <div class="row main-title-row justify-content-around">
            <div class="col-6 text-center">
                <h1>WinVoiceWeb is the next evolution in the WinVoice suite of products</h1>
                <hr class="rounded">
                <h2>Entirely web-based, WinVoiceWeb combines WinVoicePro functionality with a fully refreshed user
                    interface to allow even quicker document production, management and distribution.</h2>
                <hr class="rounded">
                <h2>Streamlining, simplifying and speeding up document workflow is at the core of WinVoiceWeb</h2>
                <hr class="rounded">
                <h3>New document creation:</h3>
                <h4>In WinVoiceWeb, the creation of a new document has never been easier. A simple two step process,
                    simply enter a patient identifier and select a letter template and your document will be created.
                </h4>
                <hr class="rounded">
                <h3>Verification</h3>
                <h4>Documents can be created and verified in one step or, alternatively, can be saved for verification
                    at a later date. Documents requiring verification are easily accessible from the home screen of
                    WinVoiceWeb.</h4>
                <hr class="rounded">
                <h3>Document management:</h3>
                <h4>WinVoiceWeb has all the document management features available in WinVoicePro allowing documents to
                    be routed, printed or flagged as necessary.</h4>
                <hr class="rounded">
                <h3>Remote launch integration:</h3>
                <h4>WinVoiceWeb can be launched from within third party systems, such as Clinical Portal, allowing the
                    new job process to be launched from within other clinical systems.</h4>
            </div>
        </div>
    </div>
{% endblock %}


{% block lower %}
    <div class="container-fluid winvoiceweb-container">
        <div class="row text-center">
            <div class="col-6 offset-3">
                <div class="embed-responsive embed-responsive-16by9 my-3 rounded video home-card">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/G8aaT1suIf8" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-6 ">
                <h1><u>Key features:</u></h1>
                <hr class="rounded">
                <ul>
                    <li>Web-based application, removing the need for any software installation</li>
                    <li>Incorporates all the document management features currently available in WinVoicePro</li>
                    <li>Links with existing applications and databases to populate documents automatically</li>
                    <li>Sends encrypted electronic documents for amendment, approval and dispatch</li>
                    <li>Easy to search for and add recipients</li>
                    <li>Can be launched from within third party systems, such as Clinical Portal</li>
                    <li>Can only be accessed by authenticated users.</li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class=" col-6">
                <h1><u>Key benefits:</u></h1>
                <hr class="rounded">
                <ul>
                    <li>Eliminates the time, cost and potential errors involved in re-keying data</li>
                    <li>Accelerates document turnaround times</li>
                    <li>Reduces resource, postage and printing costs.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="link-button" href="{% url 'products' %}">
                    <button type="button" class="btn btn-vt">visit the store to purchase</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}