{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block header %}
    <div class="container-fluid section-container header-container">
        <div class="row title-row align-items-center">
            <div class="col-12 title-col">
                <h1 class="page-title">Sign in <i class="fas fa-sign-in-alt logo"></i></h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid login-container">
        <div class="row signin-row justify-content-center">
            <div class="col-6 signin-col card signin-card home-card text-center">
                <h1><i class="fas fa-user-lock"></i> Sign in</h1>
                <form class="login-form" method="POST">
                    {% csrf_token %}
                    {{ login_form | as_bootstrap }}
                    <button type="submit" class="btn btn-lg btn-vt">log in</button>
                </form>
                <br>
                 <h3>If you dont have an account - <a href="{% url 'register' %}">Register here</a></h3>
            </div>
        </div>
    </div>
{% endblock %}