{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block header %}
    <div class="container-fluid section-container header-container">
        <div class="row title-row align-items-center">
            <div class="col-12 title-col">
                <h1 class="page-title"><u>Sign up <i class="fas fa-user-plus logo"></i></u></h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid login-container">
        <div class="row signin-row justify-content-center">
            <div class="col-6 text-center signin-col card signin-card home-card">
                <p>If you already have an account - <a href="{% url 'login' %}">sign in here</a></p>
                <form method="POST">
                    {% csrf_token %}
                    {{ registration_form | as_bootstrap }}
                    <button type="submit" class="btn btn-warning">Register your profile</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}