{% extends 'base.html' %}
{% load bootstrap_tags %}


{% block header %}
    <div class="container-fluid section-container header-container">
        <div class="row title-row align-items-center">
            <div class="col-12 title-col">
                <h1 class="page-title">Sign up <i class="fas fa-user-plus logo"></i></h1>
            </div>
        </div>
        <h2 class="prod-sub">Register your account to make purchases in the store.</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid login-container">
        <div class="row signin-row justify-content-center">
            <div class="col-6 text-center signin-col card signin-card home-card">
                <form class="reg-form" method="POST">
                    {% csrf_token %}
                    {{ registration_form | as_bootstrap }}
                    <button type="submit" class="btn  btn-lg btn-vt">Register your profile</button>
                </form>
                <br>
                <h3>If you already have an account - <a href="{% url 'login' %}">sign in here</a></h3>
            </div>
        </div>
    </div>
{% endblock %}